<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Error</title>




    <!-- Main content -->
    <section class="content">

      <div class="error-page">

        <div class="error-content">
          <h3><i class="fa fa-warning text-red"></i> Oops! ha ocurrido un error al intentar conectar con la base de datos. Por favor intente mas tarde</h3>

          <p>
            Si el problema persiste favor de ponerse en contacto con el administrador del sistema.
          </p>


              </div>
            </div>
            <!-- /.input-group -->
          </form>
        </div>
      </div>
      <!-- /.error-page -->

</body>
</html>
